.login {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(73, 73, 73, 0.671);
	overflow: hidden;
	z-index: 3015;
}

.login-div {
	width: 400px;
	height: 500px;
	padding: 20px;
	background-color: white;
	border-radius: 10px;
	position: relative;
	animation-name: login;
	animation-duration: 0.6s;
}

@keyframes login {
	0% {
		margin-top: 100%;
	}
}

.login-close {
	width: 100%;
}

.login-close:hover {
	opacity: 0.6;
}

.login-title {
	text-align: center;
	margin-top: 25px;
}

.login-footer {
	text-align: center;
	font-size: 14px;
	cursor: pointer;
}

.login-footer:hover {
	color: #1565c0;
}

.login-div > form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 35px;
	margin-bottom: 15px;
}

.login-btn {
	width: 100%;
	display: flex;
	margin-bottom: 35px;
	justify-content: center;
}
